.btn-game {
    width: 100px;
    height: 100px;
    font-size: 2em;
    border-color: black; 
    box-shadow: 0 0 0 7px black; 
}
h1 {
  margin: auto;
  width: 640px; 
  font-family: 'Lexend Deca', sans-serif; 
  color: black;    
  text-align: center;
}
